* {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vw;
  overflow: hidden;
}

.app {
  width: 100vw;
  height: 100vw;
}

.header {
  width: 100vw;
  background-color: #222;
  padding: 20px;
  color: #fff;
  text-align: center;
}

.app-title {
  font-size: 1.5em;
}

.main {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100%;
}

.sidebar {
  background-color: #222;
  color: #fff;
  flex-grow: 1;
}

.sidebar ol li {
  padding: 40px 20px;
  cursor: pointer;
}

.map-container {
  flex-grow: 9;
  height: inherit;
}

#map {
}

.marker {
  cursor: pointer;
  width: 35px;
}

.popup {
  cursor: pointer;
}

.active-li{
  background-color: #333;
}
